body[data-theme="green"] {
  --radius: 0.5rem;
  --primary: oklch(0.723 0.219 149.579);
  --primary-foreground: oklch(0.982 0.018 155.826);
  --ring: oklch(0.723 0.219 149.579);
  --sidebar-primary: oklch(0.723 0.219 149.579);
  --sidebar-primary-foreground: oklch(0.982 0.018 155.826);
  --sidebar-ring: oklch(0.723 0.219 149.579);
}

body[data-theme="green"] .dark {
  --primary: oklch(0.696 0.17 162.48);
  --primary-foreground: oklch(0.393 0.095 152.535);
  --ring: oklch(0.527 0.154 150.069);
  --sidebar-primary: oklch(0.696 0.17 162.48);
  --sidebar-primary-foreground: oklch(0.393 0.095 152.535);
  --sidebar-ring: oklch(0.527 0.154 150.069);
}
