body[data-theme="orange"] {
  --radius: 0.5rem;
  --primary: oklch(0.705 0.213 47.604);
  --primary-foreground: oklch(0.98 0.016 73.684);
  --ring: oklch(0.705 0.213 47.604);
  --sidebar-primary: oklch(0.705 0.213 47.604);
  --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
  --sidebar-ring: oklch(0.705 0.213 47.604);
}

body[data-theme="orange"] body[data-dark="true"] {
  --primary: oklch(0.646 0.222 41.116);
  --primary-foreground: oklch(0.98 0.016 73.684);
  --ring: oklch(0.646 0.222 41.116);
  --sidebar-primary: oklch(0.646 0.222 41.116);
  --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
  --sidebar-ring: oklch(0.646 0.222 41.116);
}
