body[data-theme="violet"] {
  --radius: 0.5rem;
  --primary: oklch(0.606 0.25 292.717);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --ring: oklch(0.606 0.25 292.717);
  --sidebar-primary: oklch(0.606 0.25 292.717);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-ring: oklch(0.606 0.25 292.717);
}

body[data-theme="violet"] .dark {
  --primary: oklch(0.541 0.281 293.009);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --ring: oklch(0.541 0.281 293.009);
  --sidebar-primary: oklch(0.541 0.281 293.009);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-ring: oklch(0.541 0.281 293.009);
}
